*{
	margin: 0;
	padding: 0;
}
body{
	width: 980px;
	height: 1350px;
	position: relative;
	margin: 0 auto;
}
.mainContent{
    margin-top: 20px;
    text-align: center;
}
#scrap{
    width: 55px;
    background-color: seashell;
    border: 1px solid gray;
    border-radius: 5px;
    float: left;
}
#scrap:hover{
    width: 55px;
    background-color: seashell;
    border: 2px solid black;
    border-radius: 5px;
}

.time{
    float: left;
}

.img img{
    width: 980px;
    height: 450px;
    margin-top: 10px;
}

.span{
    text-align:left;
    line-height: 50px;
}

.source{
    margin-top: 50px;
}
