*{
	margin: 0;
	padding: 0;
}
body{
	width: 980px;
	height: 1350px;
	position: relative;
	margin: 0 auto;
}
.mainContent{
    margin-top: 20px;
    text-align: center;
}
#scrap{
    width: 55px;
    background-color: seashell;
    border: 1px solid gray;
    border-radius: 5px;
}
#scrap:hover{
    width: 55px;
    background-color: seashell;
    border: 2px solid black;
    border-radius: 5px;
}
img{
    width: 700px;
    height: 400px;
    }


.footer{
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0px;
	background-color: darkgray;
	text-align: center;
	font-size: 0.9rem;
	padding-top: 20px;
	line-height: 25px;
}